_runpath/
OGM/.vs/
OGM/bin/
OGM/obj/
Module/OGM/.vs/
Module/OGM/app/bin/
Module/OGM/app/obj/
Module/OGM/module/bin/
Module/OGM/module/obj/
Module/OGM/web/bin/
Module/OGM/web/obj/
Module/OGM/winform/bin/
Module/OGM/winform/obj/
*.user
